---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agnostics
  labels:
    {{- include "scheduler.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "scheduler.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "scheduler.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: agnostics
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: GIT_URL
              value: {{ .Values.git.url }}
            - name: GIT_SSH_PRIVATE_KEY
              value: {{ .Values.git.private_key }}
            - name: REDIS_URL
              value: {{ .Values.git.redis_url }}
            - name: DEBUG
              value: {{ .Values.git.debug }}
            - name: API_HTPASSWD
              value: /secrets/api-htpasswd
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            timeoutSeconds: 3
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: agnostics-babylon-secret
              mountPath: /.ssh
              readOnly: true
            - name: agnostics-api-htpasswd
              mountPath: /secrets
              readOnly: true

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: agnostics-babylon-secret
          secret:
            secretName: agnostics-babylon
        - name: agnostics-api-htpasswd
          secret:
            secretName: {{ toYaml .Values.service.htpasswd_secret }}
