openapi: "3.0.3"
info:
  version: 1.0.0
  title: Scheduler
  license:
    name: MIT
servers:
  - url: http://scheduler.open.redhat.com/api/v1
paths:
  /repo:
    get:
      summary: Get local information about the config repository used by the scheduler.
      operationId: repo
      tags:
        - config
      responses:
        '200':
          description: The message containing information about the config repository.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GitCommit"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: Force the server to refresh the scheduler config from Git.
      description: Force server to pull latest changes from the git repository. This operation is asynchronous. The server will always aknowledge that the request for updating the repository has been made.
      operationId: repopull
      tags:
        - config
      responses:
        '200':
          description: A message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /schedule:
    post:
      summary: Request a deployment to be scheduled on one of all available clouds matching selector (predicates with labels) and preferences (priorities with labels).
      operationId: schedule
      tags:
        - schedule
      requestBody:
        description: JSON object to specify selectors and priorities
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleQuery"
      responses:
        '200':
          description: The Placement given by the scheduler, containing the target cloud that can be used.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Placement"
        '400':
          description: The service identified by uuid already has a placement.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /placements:
    get:
      summary: List all the placements.
      tags:
        - schedule
      responses:
        '200':
          description: All the placements assigned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Placements"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /placements/{uuid}:
    get:
      summary: Get the placement assigned to a specific uuid. This is used before starting / stopping / destroying a service, to know on what cloud it was scheduled to.
      tags:
        - schedule
      parameters:
        - name: uuid
          in: path
          required: true
          description: The UUID of the service in CloudForms.
          schema:
            $ref: "#/components/schemas/UUID"
      responses:
        '200':
          description: The placement assigned to this uuid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Placement"
        '404':
          description: Placement not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete the placement assigned to a specific uuid. You usually call this endpoint once your service is destroyed.
      tags:
        - schedule
      parameters:
        - name: uuid
          in: path
          required: true
          description: The UUID of the service in CloudForms.
          schema:
            $ref: "#/components/schemas/UUID"
      responses:
        '200':
          description: The placement assigned to this uuid is deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Placement"
        '404':
          description: Placement not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /clouds:
    get:
      summary: List all clouds
      operationId: listCloudsAll
      tags:
        - clouds
      responses:
        '200':
          description: An array of clouds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Clouds"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /clouds/{cloudName}:
    get:
      summary: Information about a specific cloud
      operationId: showCloudByName
      tags:
        - clouds
      parameters:
        - name: cloudName
          in: path
          required: true
          description: The name of the cloud to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cloud"
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /counters:
    put:
      summary: Force the server to refresh all the counters
      description: Force server to refresh all the counters. This operation is blocking and expensive, please use with care.
      operationId: refreshcounters
      tags:
        - stats
      responses:
        '200':
          description: A message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Cloud:
      description: Object that defines a Cloud.
      type: object
      required:
        - name
        - label
      properties:
        name:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string

    Clouds:
      type: array
      items:
        $ref: "#/components/schemas/Cloud"

    UUID:
      type: string
      description: The UUID of the service in CloudForms. It used to identify placement and can be used later to retrieve a placement.
      format: uuid

    Placement:
      type: object
      description: A placement is a record of what(uuid) / where(cloud) / when(date) something was scheduled.
      required:
        - uuid
        - cloud
        - date
      properties:
        uuid:
          $ref: "#/components/schemas/UUID"
        cloud:
          $ref: "#/components/schemas/Cloud"
        date:
          description: The date (UTC and RFC3339 format) the placement was made.
          type: string
          format: date-time

    Placements:
      type: array
      items:
        $ref: "#/components/schemas/Placement"

    Toleration:
      type: object
      description: Object passed when requesting schedule to ignore taints.
      properties:
        key:
          type: string
          description: |-
            Key is the taint key that the toleration applies to.
            Empty means match all taint keys.
            If the key is empty, operator must be Exists;
            this combination means to match all values and all keys.
            (optional)
        operator:
          description: |-
            Operator represents a key's relationship to the value.
            Valid operators are Exists and Equal. Defaults to Equal.
            Exists is equivalent to wildcard for value, so that a cloud can
            tolerate all taints of a particular category.
            (optional)
          type: string
        value:
          type: string
          description: |-
            Value is the taint value the toleration matches to.
            If the operator is Exists, the value should be empty, otherwise just a regular string.
            +optional
        effect:
          type: string
          description: |-
            Effect indicates the taint effect to match. Empty means match all taint effects.
            When specified, allowed values are NoSchedule, PreferNoSchedule.
            +optional

    ScheduleQuery:
      type: object
      required:
        - uuid
      properties:
        uuid:
          $ref: "#/components/schemas/UUID"
        cloud_selector:
          description: This dictionary describes the labels (key:value) that must be present in the clouds in order to be selected by the scheduler.
          type: object
          additionalProperties:
            type: string
        cloud_preference:
          type: object
          description: This dictionary describes the labels (key:value) that you would like to be present in the clouds in order to be selected by the scheduler. They change the priority and thus the clouds matching those labels will be selected first.
          additionalProperties:
            type: string
        tolerations:
          type: array
          description: The list of tolerations for this request. Any taint matching the a toleration will be ignored (all taints ignored == cloud can be selected).
          items:
            $ref: "#/components/schemas/Toleration"
        info:
          description: This dictionary allow to provide more information about who makes the request. For example: guid, email, ...
          type: object
          additionalProperties:
            type: string

    Message:
      type: object
      required:
        - message
      properties:
        message:
          type: string

    GitCommit:
      type: object
      required:
        - hash
        - author
        - date
      properties:
        hash:
          type: string
          description: Hash of the commit
        author:
          type: string
        date:
          description: Date of the signature of the commit. Date is UTC.
          type: string
          format: date-time

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
