<h1>Clouds</h1>

<table class="pure-table pure-table-horizontal">
  <tr>
    <td>Name</td>
    <td>Placements</td>
    <td>Labels</td>
    <td>Enabled</td>
    <td>Taints</td>
  </tr>

  {{ range . }}
  <tr>
    <td><b>{{ .Name }}</b></td>
    <td>{{ countPlacements .Name }}</td>
    <td>
        {{ range  $key, $val := .Labels }}
        <code>{{ $key }}:&nbsp;{{ $val }}</code></br>
        {{end}}
    </td>
    <td>
      {{ if eq .Enabled true }}
      <span style="font-weight: bold; color: green">true</span>
      {{ else }}
      <span style="font-weight: bold; color: red">false</span>
      {{ end }}
    </td>
    <td>
        {{ range .Taints }}
        {{ if eq .Effect "NoSchedule"  }}
        <span class="taint-noschedule">
        {{ else }}
        <span class="taint-prefernoschedule">
        {{ end }}
          <code>{{ . }}</code></span></br>
        {{ end }}

    </td>
  </tr>
  {{ end }}
</table>
