<h1>Placements</h1>

<p>Total: {{ countPlacements "all" }} placements</p>
<table class="pure-table pure-table-horizontal">
    <caption>First 100 placements</caption>
    <tr>
        <td>Creation Timestamp</td>
        <td>UUID</td>
        <td>Annotations</td>
        <td>Cloud Name</td>
    </tr>

    {{ range . }}
    <tr>
        <td>{{ .CreationTimestamp }}</td>
        <td>
            <span style="font-size: 80%">
                <code>{{ .UUID }}</code>
            </span>
        </td>
        <td>
            {{ range $key, $val := .Annotations }}
            <code>{{ $key }}:&nbsp;{{ $val }}</code></br>
            {{ end }}
        </td>
        <td>{{ .Cloud.Name }}</td>
    </tr>
    {{ end }}
</table>
